texttable==1.7.0
point-cloud-utils==0.30.4
einops==0.7.0
skeletor==1.3.0
matplotlib==3.7.5
fonttools==4.51.0
platformdirs==4.2.1
et-xmlfile==1.1.0
Werkzeug==3.0.2
trimesh==4.3.1
vtk==9.3.0
python-dateutil==2.9.0.post0
click==8.1.7
pooch==1.8.1
scikit-spatial==7.2.0
contourpy==1.1.1
kaolin==0.13.0
ncollpyde==0.19.0
itsdangerous==2.1.2
usd-core==22.5.post1
MarkupSafe==2.1.3
tzdata==2024.1
openpyxl==3.1.5
igraph==0.11.4
pytz==2024.1
importlib_resources==6.4.0
Flask==3.0.3
blinker==1.7.0
scooby==0.9.2
numpy==1.24.4
pandas==2.0.3
Jinja2==3.1.2
uri-template==1.3.0
idna==3.7
referencing==0.35.1
protobuf==5.28.3
importlib_metadata==8.5.0
charset-normalizer==3.3.2
pycparser==2.22
jsonschema==4.23.0
ipympl==0.9.3
sympy==1.13.2
safetensors==0.4.4
safetensors==0.4.5
PyWavelets==1.4.1
certifi==2024.8.30
prometheus_client==0.21.0
numpy==1.19.2
torch-scatter==2.1.2
jupyterlab==4.3.2
jupyter_core==5.7.2
dash-core-components==2.0.0
jupyter_server==2.14.2
PySocks==1.7.1
backcall==0.2.0
bleach==6.1.0
aiosignal==1.3.1
ruamel.yaml==0.18.6
ipython==8.12.2
notebook_shim==0.2.4
jupyter_server_proxy==4.4.0
ipykernel==6.29.5
json5==0.10.0
regex==2024.7.24
multiprocess==0.70.17
webencodings==0.5.1
huggingface-hub==0.27.0
huggingface_hub==0.26.5
Send2Trash==1.8.3
antlr4-python3-runtime==4.9.3
markdown-it-py==3.0.0
torchvision==0.16.0
platformdirs==4.3.6
executing==2.1.0
torch-geometric==2.6.1
retrying==1.3.4
scikit-learn==1.3.2
pyquaternion==0.9.9
zipp==3.21.0
zipp==3.20.2
attrs==24.2.0
jupyterlab_pygments==0.3.0
dash-table==5.0.0
pyvista==0.44.1
gmpy2==2.1.2
mkl-fft==1.3.0
Jinja2==3.1.4
iopath==0.1.9
iopath==0.1.10
future==1.0.0
trame-client==3.4.0
propcache==0.2.0
terminado==0.18.1
pip==24.2
pexpect==4.9.0
msgpack==1.1.0
ffmpeg-python==0.2.0
overrides==7.7.0
async-timeout==5.0.1
Pygments==2.18.0
h11==0.14.0
threadpoolctl==3.5.0
debugpy==1.6.7
matplotlib-inline==0.1.7
torchmetrics==1.0.3
torchmetrics==1.5.2
psutil==6.0.0
psutil==6.1.0
fqdn==1.5.1
mdurl==0.1.2
rfc3986-validator==0.1.1
portalocker==2.10.1
portalocker==2.3.0
types-python-dateutil==2.9.0.20241003
gitdb==4.0.11
PyYAML==6.0.2
kiwisolver==1.4.7
trame-vtk==2.8.12
comm==0.2.2
opencv-python==4.10.0.84
setuptools==75.3.0
rpds-py==0.20.1
ipython-genutils==0.2.0
mistune==3.0.2
sniffio==1.3.1
vhacdx==0.0.8.post1
scipy==1.10.1
dill==0.3.9
colorcet==3.1.0
tifffile==2023.7.10
wheel==0.44.0
simpervisor==1.0.0
jupyterlab_server==2.27.3
numba==0.58.1
trame-server==3.2.3
anyio==4.5.2
argon2-cffi-bindings==21.2.0
smmap==5.0.1
pyglet==2.1rc2
lightning-utilities==0.11.9
lightning-utilities==0.11.8
torch-fidelity==0.3.0
dash-html-components==2.0.0
python-dateutil==2.9.0
wcwidth==0.2.13
asttokens==2.4.1
torch_cluster==1.6.3
xatlas==0.0.9
filelock==3.13.1
nbconvert==7.16.4
urllib3==2.2.3
pytorch-lightning==2.4.0
pandocfilters==1.5.1
pkgutil_resolve_name==1.3.10
exceptiongroup==1.2.2
six==1.16.0
pyparsing==3.1.4
packaging==24.2
more-itertools==10.5.0
networkx==3.1
tinycss2==1.4.0
httpx==0.28.1
widgetsnbextension==4.0.13
pycollada==0.8
jupyter_client==8.6.3
typing_extensions==4.11.0
async-lru==2.0.4
trame==3.7.0
PyOpenGL==3.1.7
multidict==6.1.0
pymeshlab==2023.12.post2
arrow==1.3.0
trame-vuetify==2.7.2
diffusers==0.30.3
traitlets==5.14.3
Rtree==1.3.0
websocket-client==1.8.0
h5py==3.11.0
omegaconf==2.3.0
fsspec==2024.10.0
jsonpointer==3.0.0
embreex==2.17.7.post5
MarkupSafe==2.1.3
mkl-service==2.3.0
webcolors==24.8.0
pyzmq==25.1.2
pyzmq==26.2.0
scikit-image==0.21.0
nbclient==0.10.0
lazy_loader==0.4
frozenlist==1.5.0
rfc3339-validator==0.1.4
nbformat==5.10.4
yarl==1.15.2
accelerate==1.0.1
svg.path==6.3
jupyterlab_widgets==3.0.13
jupyter-events==0.10.0
termcolor==2.4.0
open3d==0.18.0
ConfigArgParse==1.7
jupyter_server_terminals==0.5.3
umap-learn==0.5.7
setproctitle==1.3.3
sentry-sdk==2.18.0
pure_eval==0.2.3
tornado==6.4.1
python-json-logger==2.0.7
lxml==5.3.0
autolab-core==1.1.1
babel==2.16.0
timm==1.0.12
argon2-cffi==23.1.0
stack-data==0.6.2
cmocean==4.0.3
torchaudio==2.1.0
addict==2.4.0
jupyter-lsp==2.2.5
triton==2.1.0
torch==2.1.0
PyVirtualDisplay==3.0
tenacity==9.0.0
colorama==0.4.6
jedi==0.19.1
chardet==5.2.0
xxhash==3.5.0
joblib==1.4.2
soupsieve==2.6
isoduration==20.11.0
meshio==5.3.5
jsonschema-specifications==2023.12.1
GitPython==3.1.43
aiohappyeyeballs==2.4.3
requests==2.32.3
beautifulsoup4==4.12.3
tomli==2.2.1
llvmlite==0.41.1
pillow==10.4.0
cffi==1.17.1
pickleshare==0.7.5
colorlog==6.9.0
plotly==5.24.1
nest_asyncio==1.6.0
mkl-random==1.1.1
ptyprocess==0.7.0
dash==2.18.2
aiohttp==3.10.11
mpmath==1.3.0
parso==0.8.4
wslink==2.2.1
lightning==2.3.3
decorator==5.1.1
imageio==2.35.1
wandb==0.18.7
pynndescent==0.5.13
pytorch3d==0.7.8
autolab-perception==1.0.0
mapbox-earcut==1.0.1
psbody-mesh==0.4
shapely==2.0.6
httpcore==1.0.7
docker-pycreds==0.4.0
tqdm==4.67.1
fastjsonschema==2.20.0
cycler==0.12.1
defusedxml==0.7.1
ipywidgets==8.1.5
Brotli==1.0.9
pyserial==3.5
rich==13.9.4
prompt_toolkit==3.0.48
ruamel.yaml.clib==0.2.8
